<extend name="Public/index"/>
<block name="content">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">商品评论信息添加</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              商品评论信息表
          </div>
          <div class="panel-body">
               <div class="row">
                   <div class="col-lg-6">
                       <form role="form" action="{:U('Admin/Goodscomment/insert')}" method="post" enctype="multipart/form-data">
                           <div class="form-group">
                               <label>用户ID</label>
                               <input name="user_id" placeholder="请输入评论该商品的用户名" class="form-control">
                           </div>

                           <div class="form-group">
                               <label>商品ID</label>
                               <input name="goods_id" placeholder="请输入要评论的商品ID" class="form-control">
                           </div>

                           <div class="form-group">
                               <label>商品名</label>
                               <input name="gname" placeholder="请输入要评论的商品名" class="form-control">
                           </div>

                           <div class="form-group">
                               <label>商品图片</label>
                               <input name="gpic" type="file">
                           </div>

                           <div class="form-group">
                               <label>评论信息</label>
                               <textarea name="commsg" rows="3" placeholder="请输入评论信息" class="form-control"></textarea>
                           </div>

                           <div class="form-group">
                               <label>评论时间</label>
                               <input name="comtime" placeholder="请输入评论商品的时间" class="form-control">
                           </div>
                           <button class="btn btn-warning" type="reset">重置</button>
                           <button class="btn btn-info" type="submit">提交</button>
                       </form>
                   </div>
               </div>
          <!-- /.panel-body -->
          </div>

        <!-- /.panel -->
        </div>
       <!-- /.col-lg-12 -->
      </div>
    </div>
</div>  
</block>